.boardStyles {
    background-color: #dde5e6;
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    min-width: 250px;
    border-radius: 5px;
}

.boardTitleStyles {
    padding: 15px;
    background-color: #0a5161;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
}

.addTicketButtonStyles {
    background-color: #5b818a;
    margin: 10px 0px;
    padding: 7px 0px;
    width: 100%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.boardStyles span {
    margin-left: 10px;
}

.deleteButton {
    color: #ef4924;
}

.ticketsContainer {
    max-height: 360px;
    overflow-y: scroll;
}
